# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environnement virtuel
venv/
env/
.venv/

# Variables d'environnement
.env

# IDE / éditeurs
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
