<footer class="bg-dark text-light pt-5 pb-3 mt-5 footer-section">

    <div class="container">

        <div class="row">

            <!-- ENTREPRISE -->
            <div class="col-lg-3 col-md-6 mb-4">

                <h4 class="fw-bold text-success">
                    Eden Agro Business
                </h4>

                <p>
                    Entreprise agricole spécialisée dans la produition
                    et la distribution de produits agricoles de qualité.
                </p>

            </div>

            <!-- SLOGAN -->
            <div class="col-lg-3 col-md-6 mb-4">

                <h4 class="fw-bold text-success">
                    Notre Slogan
                </h4>

                <p>
                    Faites confiance à la nature.
                    Faites confiance à Eden Agro Business.
                </p>

            </div>

            <!-- CONTACT -->
            <div class="col-lg-3 col-md-6 mb-4">

                <h5 class="fw-bold mb-3">
                    Nous Contacter
                </h5>

                <p>
                    <i class="bi bi-telephone-fill text-success"></i>
                    +224 625 48 16 49
                </p>

                <p>
                    <i class="bi bi-whatsapp text-success"></i>
                    WhatsApp : +224 625 48 16 49
                </p>

                <p>
                    <i class="bi bi-envelope-fill text-success"></i>
                    edenagro@gmail.com
                </p>

                <p>
                    <i class="bi bi-geo-alt-fill text-success"></i>
                    Conakry, Guinée
                </p>

            </div>

            <!-- NEWSLETTER -->
            <div class="col-lg-3 col-md-6 mb-4">

                <h5 class="fw-bold mb-3 text-success">
                    Newsletter
                </h5>

                <p>
                    Recevez nos nouveautés, promotions et conseils agricoles.
                </p>

                <form method="POST"
                    action="{% url 'subscribe_newsletter' %}">

                    {% csrf_token %}

                    <div class="mb-3">

                        <input type="email"
                            name="email"
                            class="form-control newsletter-input"
                            placeholder="Votre adresse email"
                            required>

                    </div>

                    <button type="submit"
                            class="btn newsletter-btn w-100">

                        S'abonner

                    </button>

                </form>

            </div>

        </div>

        <!-- RESEAUX SOCIAUX -->
        <div class="text-center mb-3 social-icons">

            <a href="https://www.facebook.com/share/p/18pzGxRGZn/" class="text-light fs-4 mx-2">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.tiktok.com/@edenagrobusinessgn?_r=1&_t=ZS-96tp9sYw5uT" class="text-light fs-4 mx-2">
                <i class="bi bi-tiktok"></i>
            </a>
        </div>

        <!-- COPYRIGHT -->
        <div class="text-center border-top pt-3">

            <p class="mb-0">
                © 2026 Eden Agro Business — Tous droits réservés.
            </p>

        </div>

    </div>

</footer>