{% load static %}

<nav class="navbar navbar-expand-lg sticky-top shadow-sm custom-navbar">

    <div class="container">

        <!-- LOGO + TITRE -->
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">

            <img src="{% static 'images/logo.jpg' %}"
                 alt="Logo Eden Agro"
                 class="navbar-logo">

            <span class="company-name">
                Eden Agro Business & Service
            </span>

        </a>

        <!-- TOGGLER MOBILE -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <!-- LIENS À GAUCHE / CENTRE -->
            <ul class="navbar-nav ms-auto align-items-lg-center gap-2">

                <li class="nav-item">
                    <a class="nav-link" href="/">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about/">À Propos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/gallery/">Galerie</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Actualite</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/produits/">Produits</a>
                </li>
                <!-- ESPACE CLIENT -->
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'dashboard' %}">Mon Espace</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/contact/">Contact</a>
                    </li>

                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/">Administration</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-logout">
                                Déconnexion
                            </button>
                        </form>
                    </li>

                {% else %}

                    <li class="nav-item">
                        <a class="btn btn-login" href="{% url 'login' %}">
                            Connexion
                        </a>
                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>