{% load static %}

<nav class="navbar navbar-expand-lg sticky-top shadow-sm custom-navbar">

    <div class="container">

        <!-- LOGO + NOM -->
        <a class="navbar-brand d-flex align-items-center" href="/">

            <img src="{% static 'images/logo.png' %}"
                 alt="Logo Eden Agro"
                 class="navbar-logo">

            <div class="logo-text">

                <span class="company-name">
                    Eden Agro Business & Service
                </span>
            </div>

        </a>

        <!-- MENU MOBILE -->
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <!-- MENU -->
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link active" href="/">
                        Accueil
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about/">
                        À Propos
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/gallery/">
                        Galerie
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/blog/">
                        Blog
                    </a>
                </li>

                <!-- BOUTON -->
                <li class="nav-item ms-lg-4 mt-3 mt-lg-0">

                    <a href="/contact/"
                       class="btn contact-btn">

                        Nous Contacter

                    </a>

                </li>

            </ul>

        </div>

    </div>

</nav>