{% extends "base.html" %}

{% block title %}
Produits
{% endblock %}

{% block content %}

<section class="container py-5">

    <h1 class="text-center text-success mb-5">
        Nos Produits
    </h1>

    <div class="row g-4">

        {% for produit in produits %}

        <div class="col-lg-4 col-md-6">

            <div class="card border-0 shadow h-100">

                <img src="{{ produit.image.url }}"
                     class="card-img-top"
                     style="height:300px; object-fit:cover;"
                     alt="{{ produit.nom }}">

                <div class="card-body">

                    <h4 class="fw-bold">{{ produit.nom }}</h4>

                    <p class="text-muted">SKU : {{ produit.sku }}</p>

                    <p>{{ produit.description|truncatewords:20 }}</p>

                    {% if produit.promotion %}
                        <span class="badge bg-danger mb-2">Promotion</span>
                    {% endif %}

                    <div class="mt-3">

                        {% if produit.ancien_prix %}
                            <span class="text-muted text-decoration-line-through">
                                {{ produit.ancien_prix }} GNF
                            </span>
                        {% endif %}

                        <h4 class="text-success fw-bold">
                            {{ produit.prix }} GNF
                        </h4>

                    </div>

                    <a href="{% url 'ajouter_panier' produit.id %}"
                       class="btn btn-success w-100 mt-3">

                        Ajouter au panier
                    </a>

                </div>

            </div>

        </div>

        {% empty %}

        <div class="col-12 text-center">

            <h4 class="text-muted">
                Aucun produit disponible.
            </h4>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}