{% extends "base.html" %}

{% block title %}Produits{% endblock %}

{% block content %}

<section class="container py-5">

    <h1 class="text-center text-success mb-5">
        tous les produits 
    </h1>

    <!-- CATEGORIES -->
    {% for categorie in categories %}

        <h2 class="text-success mt-5">
            {{ categorie.nom }}
        </h2>

        <div class="row g-4">

            {% for produit in categorie.produits.all %}

                <div class="col-lg-4 col-md-6">

                    <div class="card border-0 shadow h-100">

                        <img src="{{ produit.image.url }}"
                             class="card-img-top"
                             style="height:300px; object-fit:cover;">

                        <div class="card-body">

                            <h5 class="product-name">
                                {{ produit.nom }}
                            </h5>

                            <p class="product-price">
                                {{ produit.prix }} GNF
                            </p>

                            <div class="d-flex gap-2 mt-3">

                                <a href="{% url 'ajouter_panier' produit.id %}"
                                   class="btn-panier">
                                    <i class="bi bi-cart3"></i>
                                </a>

                                <a href="{% url 'creer_commande' produit.id %}"
                                   class="btn-commande">
                                    Commander
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            {% empty %}
                <p>Aucun produit dans cette catégorie</p>
            {% endfor %}

        </div>

    {% endfor %}

</section>

{% endblock %}