{% extends 'base.html' %}
{% load static %}

{% block title %}
Nos Produits | Eden Agro Business
{% endblock %}

{% block content %}
<!-- PRODUITS -->

<section class="products-section">

    <div class="container">

        <!-- CONCOMBRE -->

        <div class="product-box text-center">

            <!-- IMAGE -->

            <img src="{% static 'images/concombre.jpg' %}"
                 alt="Concombre"
                 class="product-image">

            <!-- TEXTE -->

            <div class="product-content">

                <h2>
                    Concombre
                </h2>

                <p>

                    Nos concombres sont cultivés avec des méthodes
                    agricoles modernes garantissant fraîcheur,
                    qualité et richesse nutritionnelle.

                    Ils sont adaptés à la consommation locale
                    et aux besoins des marchés professionnels.

                </p>

            </div>

        </div>

        <!-- TOMATE -->

        <div class="product-box text-center">

            <img src="{% static 'images/tomate.jpg' %}"
                 alt="Tomate"
                 class="product-image">

            <div class="product-content">

                <h2>
                    Tomate
                </h2>

                <p>

                    Nos tomates fraîches sont produites dans
                    le respect des normes agricoles modernes.

                    Elles offrent une excellente qualité pour
                    la consommation, la restauration et la
                    transformation agroalimentaire.

                </p>

            </div>

        </div>

        <!-- MANIOC -->

        <div class="product-box text-center">

            <img src="{% static 'images/manioc.jpg' %}"
                 alt="Manioc"
                 class="product-image">

            <div class="product-content">

                <h2>
                    Manioc
                </h2>

                <p>

                    Le manioc produit par notre entreprise est
                    cultivé naturellement pour garantir une
                    excellente qualité alimentaire.

                    Il est utilisé pour plusieurs besoins
                    agroalimentaires et commerciaux.

                </p>

            </div>

        </div>

    </div>

</section>
{% endblock %}