/* === Admin-COULEUR PRINCIPALE AGRICOLE === */

:root {
    --agro-green: #198756;
}

/* NAVBAR */
.navbar {
    background-color: #07c249 !important;
}

/* SIDEBAR */
.main-sidebar {
    background-color: #05a53d !important;
}

/* TITRES */
.brand-text {
    color: white !important;
    font-weight: bold;
}

/* BOUTONS */
.btn-primary {
    background-color:  white  !important;
    border: none;
}

.btn-primary:hover {
    background-color: #146c43 !important;
}

/* CARTES DASHBOARD */
.card {
    border-radius: 15px !important;
    box-shadow: 0 5px 20px #0f3d1f;
}
