{% extends "admin/base_site.html" %}

{% block content %}

<div class="row">

    <div class="col-lg-3">

        <div class="card p-4">

            <h3>Produits</h3>

            <h1>350</h1>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="card p-4">

            <h3>Commandes</h3>

            <h1>145</h1>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="card p-4">

            <h3>Clients</h3>

            <h1>500</h1>

        </div>

    </div>

    <div class="col-lg-3">

        <div class="card p-4">

            <h3>Articles</h3>

            <h1>90</h1>

        </div>

    </div>

</div>

{{ block.super }}

{% endblock %}