{% extends 'base.html' %}
{% load static %}

{% block title %}
Accueil | Eden Agro Business
{% endblock %}

{% block content %}

<style>

/* CAROUSEL */

.hero-carousel{

    position: relative;
}

.carousel-image{

    height: 100vh;

    object-fit: cover;

    filter: brightness(55%);
}

.carousel-caption{

    bottom: 30%;

    animation: fadeInUp 1s;
}

.carousel-caption h1{

    font-size: 70px;

    font-weight: bold;
}

.carousel-caption p{

    font-size: 24px;
}

/* ANIMATION */

@keyframes fadeInUp{

    from{
        opacity: 0;
        transform: translateY(40px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* STATISTIQUES */

.stats-card{

    border-radius: 20px;

    transition: 0.4s;
}

.stats-card:hover{

    transform: translateY(-8px);
}

/* PRODUITS */

.product-card{

    border-radius: 20px;

    overflow: hidden;

    transition: 0.4s;
}

.product-card:hover{

    transform: translateY(-10px);
}

.product-card img{

    object-fit: cover;
}

/* PUBLICATIONS */

.media-card{

    border-radius: 20px;

    overflow: hidden;
}

/* TEMOIGNAGES */

.testimonial-box{

    max-width: 800px;

    margin: auto;

    border-radius: 20px;
}

/* WHATSAPP */

.whatsapp-section{

    background: linear-gradient(
        135deg,
        #198754,
        #14532d
    );
}

/* RESPONSIVE */

@media(max-width:768px){

    .carousel-image{

        height: 80vh;
    }

    .carousel-caption h1{

        font-size: 38px;
    }

    .carousel-caption p{

        font-size: 18px;
    }
}

</style>

<!-- HERO -->
 <section class="contact-header">

    <!-- CAROUSEL -->
    <div id="carouselExampleSlidesOnly"
         class="carousel slide carousel-fade"
         data-bs-ride="carousel">

        <div class="carousel-inner">

            <!-- SLIDE 1 -->
            <div class="carousel-item active">

                <img src="{% static 'images/contact-bg.jpg' %}"
                     class="d-block w-100"
                     style="height: 600px; object-fit: cover;"
                     alt="Contact">

                <!-- TEXTE SUR IMAGE -->
                <div class="carousel-caption d-flex flex-column justify-content-center h-100">

                    <h1 class="display-3 fw-bold text-white">
                        Contactez-nous
                    </h1>

                    <p class="lead text-white">
                        Nous sommes disponibles pour répondre à toutes vos questions.
                    </p>

                </div>

            </div>

            <!-- SLIDE 2 -->
            <div class="carousel-item">

                <img src="{% static 'images/contact-bg.jpg' %}"
                     class="d-block w-100"
                     style="height: 600px; object-fit: cover;"
                     alt="Agriculture">

                <div class="carousel-caption d-flex flex-column justify-content-center h-100">

                    <h1 class="display-3 fw-bold text-white">
                        Eden Agro Business
                    </h1>

                    <p class="lead text-white">
                        Une agriculture moderne et durable en Guinée.
                    </p>

                </div>

            </div>

            <!-- SLIDE 3 -->
            <div class="carousel-item">

                <img src="{% static 'images/contact-bg.jpg' %}"
                     class="d-block w-100"
                     style="height: 600px; object-fit: cover;"
                     alt="Entreprise">

                <div class="carousel-caption d-flex flex-column justify-content-center h-100">

                    <h1 class="display-3 fw-bold text-white">
                        Nous Sommes à Votre Écoute
                    </h1>

                    <p class="lead text-white">
                        Contactez notre équipe pour toute collaboration.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>

    <div class="row">

        {% for product in products %}

        <div class="col-md-4 mb-4">

            <div class="card product-card border-0 shadow">

                <img src="{{ product.image.url }}"
                    class="card-img-top"
                    height="280"
                    alt="{{ product.name }}">

                    <div class="card-body">

                        <h4 class="fw-bold text-success">
                            {{ product.name }}
                        </h4>

                        <p class="text-muted">
                            {{ product.description|truncatewords:18 }}
                        </p>
                    </div>
            </div>

        </div>

        {% endfor %}

    </div>
</section>

<!-- DERNIERES PUBLICATIONS -->

<section class="py-5 bg-light">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold text-success">
                Dernières Publications
            </h2>

        </div>

        <div class="row">

            {% for item in media %}

            <div class="col-md-4 mb-5 text-center">

                <!-- IMAGE -->
                {% if item.image %}

                    <img src="{{ item.image.url }}"
                        class="img-fluid mb-3"
                        style="max-height: 180px; width: auto; max-width: 100%; border-radius: 10px;"
                        alt="{{ item.title }}">

                {% endif %}

               <!-- VIDEO -->
                {% if item.video %}

                    <video controls
                        class="w-100"
                        style="height: 280px; object-fit: contain; background: #000;">

                        <source src="{{ item.video.url }}">

                    </video>

                {% endif %}
                
                <!-- TEXTE EN BAS -->
                <h5 class="fw-bold text-success mt-3">
                    {{ item.title }}
                </h5>

                <p class="text-muted fs-5">
                    {{ item.description|truncatewords:18 }}
                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</section>
<!-- TEMOIGNAGES -->

<section class="py-5 bg-light">

    <div class="container">

        <div class="text-center mb-5">

            <h2 class="fw-bold text-success display-5">
                Témoignages Clients
            </h2>

            <p class="text-muted fs-5">
                Découvrez les avis de nos clients et partenaires
            </p>

        </div>

        <div class="row">

            {% for t in testimonials %}

            <div class="col-lg-4 col-md-6 mb-5">

                <div class="card media-card border-0 shadow">

                    <!-- IMAGE -->
                    {% if t.image %}

                        <img src="{{ t.image.url }}"
                             class="card-img-top"
                             style="height: 280px; object-fit: cover;"
                             alt="{{ t.name }}">

                    {% endif %}

                    <!-- VIDEO -->
                    {% if t.video %}

                        <video controls
                               class="w-100"
                               style="height: 280px; object-fit: cover;">

                            <source src="{{ t.video.url }}">

                        </video>

                    {% endif %}

                    <div class="card-body p-4">

                        <h4 class="fw-bold text-success mb-2">
                            {{ t.name }}
                        </h4>

                        <h6 class="text-muted mb-4">
                            {{ t.profession }}
                        </h6>

                        <p class="text-muted fs-5 lh-lg">

                            "{{ t.message }}"

                        </p>

                        <!-- ETOILES -->
                        <div class="mt-4 text-warning fs-4">

                            {% for i in "12345" %}

                                {% if forloop.counter <= t.rating %}
                                    ⭐
                                {% endif %}

                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

            {% empty %}

            <div class="text-center">

                <p class="fs-4 text-muted">
                    Aucun témoignage disponible.
                </p>

            </div>

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}